*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}
body {
	background-color: lightgray;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	background-color: #d1d1c3;
}
/* Header section */
.header {
	height: var(--hh);
	background-color: #2c2c26;
	position: relative;
	text-align: center;
	vertical-align: middle;
	line-height: var(--hh);
	color: #ddd;
	font-family: 'Anta', sans-serif;
	font-size: 2.5rem;
	z-index: 0;
}
.turn-counter {
	right: 2%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-family: 'Montserrat', sans-serif;
	font-size: 1.4rem;
}
.turn-counter span {
	white-space: nowrap;
	margin-left: 1rem;
	font-weight: 400;
}
/* Account menu */
.hov-container {
	position: absolute;
	top: 50%;
	left: 2rem;
}
.acc-icon {
	position: absolute;
	border-radius: 50%;
	height: 3rem;
	width: 3rem;
	background-size: contain;
	cursor: pointer;
	transition: all 0.1s ease-out;
	transform: translateY(-50%);
	border: solid white 0.1rem;
}
.hov-container:hover .acc-menu {
	transform: translateY(-50%) scaleX(1);
}
.acc-menu {
	position: absolute;
	width: 7rem;
	height: 2.6rem;
	left: 1.5rem;
	top: 50%;
	transform: translateY(-50%) scaleX(0);
	border-bottom-right-radius: 0.9rem;
	border-top-right-radius: 0.9rem;
	background-color: white;
	z-index: -1;
	transition: all 0.1s ease-out;
	transform-origin: 0% 50%;
	display: flex;
	justify-content: stretch;
}
.offset {
	width: 1.5rem;
}
.flexbox {
	flex-basis: 100%;
	display: flex;
	justify-content: space-around;
	padding: 0.2rem 0;
}
.flexbox button {
	flex-basis: 2rem;
	cursor: pointer;
	background-color: white;
	border: none;
	border-radius: 0.3rem;
	transition: all 0.1s ease-in-out;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	background-position: center;
	background-repeat: no-repeat;
}
.flexbox button:hover {
	background-color: #e0e0e0;
	box-shadow: 0px 0px 5px 1px rgb(151, 151, 151, 0.6);
}
#games-btt {
	background-image: url(../images/home.png);
	background-size: 80%;
}
#log-out-btt {
	background-image: url(../images/exit.png);
	background-size: 70%;
}
#inv-btt {
	background-image: url(../images/invitation.png);
	background-size: 80%;
}
