*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}
body {
	background-color: lightgray;
}
.header {
	height: 4.5rem;
	border-bottom: black solid 0.15rem;
	position: relative;
	background-color: #ffff66;
}
.header * {
	display: inline-block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.title {
	font-family: 'Anta', sans-serif;
	font-size: 2.5rem;
	left: 50%;
	transform: translate(-50%, -50%);
}
.turn-counter {
	right: 10%;
	font-size: 1.4rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}
.turn-counter span {
	white-space: nowrap;
	margin-left: 1rem;
	font-weight: 400;
}
.container {
	display: flex;
	height: calc(100vh - 4.5rem);
	align-items: stretch;
}
.map {
	flex-basis: 96%;
	position: relative;
	--s: 10rem; /* hex width */
	--m: 0.3rem; /*hex margin */
}
.map-supp {
	overflow: hidden;
	position: absolute;
	border: solid black 0.15rem;
	white-space: nowrap;
	max-width: 90%;
	width: calc(100vh - 6rem);
	aspect-ratio: 1;
	border-radius: 1rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.map-drag {
	display: block;
	font-size: 0;
	position: relative;
}
.hex {
	width: var(--s);
	margin: var(--m);
	height: calc(var(--s) * 1.1547);
	display: inline-block;
	clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
	background: #3c4149;
	margin-bottom: calc(var(--m) - var(--s) * 0.2885);
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	transition-property: color, background, transform;
	transition-timing-function: ease-in-out;
	transition-duration: 0.2s;
	padding-top: 2rem;
	position: relative;
}
.hex:hover {
	background: #4d525a;
	cursor: pointer;
	color: white;
	transform: scale(0.9);
}
.hex-space {
	width: calc(var(--s) * 0.5);
	margin-right: var(--m);
	display: inline-block;
}
.pop-out-hex {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	background-color: #888;
	height: 90%;
	opacity: 98%;
	aspect-ratio: 1.5;
	display: none;
}
.nav {
	color: white;
	flex-basis: 4%;
	border-left: solid black 0.15rem;
	background-color: brown;
	transition: flex-basis ease-in-out 0.2s;
}
.nav:hover {
	flex-basis: 20%;
}
